# IDE Made Directories
.cache/
.vscode/

# Clangd Config
compile_commands.json

# Binaries and related files
saltcube
hashes.txt

# Core Dumps
vgcore.*

# Container Builds
buildenv-docker_1.0.tar
buildenv-podman_1.0.tar